.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;

    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding-inline: var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search,
.search-result {
    width: 361px;  
}

.search { 
    padding-left: 16px; 
    display: flex;
    position: relative;
    border: 1.5px solid transparent;
    height: var(--search-height);
    background: rgba(22, 24, 35, .06);
    border-radius: var(--search-border-radius);   

    input{
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, .75);;
    }

    &::after {
        content: "";
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-btn-width);       
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1px;
        background: rgba(22, 24, 35, .12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, .2);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);

}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, .03);
    }

    &:active {
        background: rgba(22, 24, 35, .06);
    }
}

.action {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    background: transparent;
    padding: 4px 6px;
    cursor: pointer;
}

.action-btn {
    background: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}