.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--default-layout-width);
  padding-inline: var(--default-layout-horizontal-spacer);
  display: flex;
  margin-top: var(--default-layout-header-height);
}

.content {
  flex: 1;
}
