.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.container {
    width: var(--default-layout-width);
    padding-inline: var(--default-layout-horizontal-spacer);
    display: flex;
}

.content {
    flex: 1;
    
}